<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Zakas - Fashion eCommerce Bootstrap 5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/vendor.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Specific Page CSS -->
    <link rel="stylesheet" href="css/my-specific-styles.css"> <!-- Replace with your dynamic styles -->

</head>

<body>
    <!-- Header -->
    {{!-- {{>header}} --}}

    <!-- Main Content -->
    {{{body}}}

    <!-- Footer -->
    {{!-- {{>footer}} --}}

    <!-- Main JavaScript -->
    <script src="js/main.js"></script>
</body>
</html>
