<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <p>Hello <strong>{{user.username}}</strong> (not <strong>{{user.username}}</strong>? <a href="/login-register">Log out</a>)</p>
</body>
</html>
